body {
  font-family: 'Roboto', sans-serif;
}

header, main, footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px solid #bbb;
  padding: 1rem;
  background-color: #e6f2ff; /* azul claro */
}

main {
  display: grid;
  grid-template-columns: 1fr; /* apenas uma coluna */
  grid-gap: 1rem; /* espaçamento uniforme */
}

section {
  padding: 1rem;
  background-color: #fff; /* fundo branco para destacar */
}